.dashboard {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 33px 20px;
  position: relative;
}
.events_byMonth {
  display: flex;
  justify-content: space-between;
}
.dashboardMonth{
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxContainer {
  display: flex;
  flex-direction: row;
}
.boxContainer_text {
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.floatedButtons{
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
}
.ReactModal__Overlay--after-open{
  background-color: #3F3D56 !important;
  opacity: 0.75 !important;
}

.NoExpenseChart{
  width: 100%;
  margin-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.noExpenseHeader{
  color: #3F3D56 ;
  font-size: 32px;
}
.noExpenseButton{
  width: 100%;
  max-width: 200px;
  height: 30px;
  border-radius: 40px;
  color: white;
  background-color: #2B32BD;
  font-size: 16px;
  font-weight: 400;
  border: solid 1px black;
  margin-top: 10px;
}
