.container {
  height: 200px;
  width: 100%;
  max-width: 600px;
  background-color: rgb(57, 57, 199);
  border-radius: 0 0 20px 20px;

  top: -20px;
  color: white;
}

.username {
  position: absolute;
  top: 5px;
  right: 5px;
}

.imgIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}
