.sidebar{
    width: 190px;
    display: flex;
    padding: 20px 10px;
    color: #3F3D56;
    flex-direction: column;
}
.sidebar_label{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.roundedClose{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E6E6E6;
}