.settingsAbout {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 22px;
  text-decoration: none !important;
}

.back-buttonAbout {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #0082ec;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25%;
  transition-duration: 0.4s;
  width: 30%;
  border-width: 2px 4px;
  border-radius: 40px;
}

.text {
  margin: 20px 15px;

  font-size: 22px;
  text-align: left;
  height: auto;
}

.email {
  margin-top: 10vh;
  padding: 20px;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}
