.settings {
   margin-left: 20px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 22px;
   text-decoration: none!important;
}

.costumPasswordInput{
 margin-top: 20px;
 margin-left: 40px;
 background-color: white; 
 border: solid 1px #CCCCCC;
 padding: 10px 15px;
 text-decoration: none;
 font-size: 18px;
 width: 80%;
 border-width: 1px 1px;
 border-radius: 40px;
 display: flex;
 align-items: center;
 outline: none;
}

.costumPasswordInput:focus{
 border: 1px solid #555;
}


.confirm-button {
 margin-top: 250px;
 margin-left: 100px;
 background-color: #EC6800; 
 color: white;
 border: none;
 padding: 10px 25px;
 font-size: 16px;
 border-radius: 25%;
 transition-duration: 0.4s;
 width: 30%;
 border-width: 2px 4px;
 border-radius: 40px;
}

.confirm-button:hover {
  background-color: #aa300f; 
  color: white;
}

.back-button {
 margin-left: 50px;
 background-color: #0082ec; 
 color: white;
 border: none;
 padding: 10px 30px;
 font-size: 16px;
 border-radius: 25%;
 transition-duration: 0.4s;
 width: 30%;
 border-width: 2px 4px;
 border-radius: 40px;
}

.back-button:hover {
  background-color: #022ebd; 
  color: white;
}

