.months {
  padding: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-style: ridge;
  border-radius: 50px;
  border: 1px solid rgb(216, 216, 216);
  font-size: 18px;
  text-align: center;
  margin: 0px 5px;
  transition: 0.3s;
}

.slider {
  margin-top: 20px;
}
.months:hover {
  background-color: #3f3d56;
  border: none;
  color: aliceblue;
}
.stats {
  margin-top: 10px;
  display: flex;

  justify-content: space-around;
}
.typo {
  background-color: rgb(205, 255, 205);

  padding: 20px;
  border-radius: 15px;
  border: 1px solid gold;
}

.amountChildIncome h3 {
  margin-left: 20%;
  font-size: 16px;
  padding: 0;
  color: #7d7c8d;
}
.amountChildIncome h4 {
  margin-left: 20%;
  color: #32ae1b;
  font-size: 18px;
  font-weight: bold;
}

.amountChildExpense h3 {
  margin-left: 20%;
  font-size: 16px;
  padding: 0;

  color: #7d7c8d;

  font-weight: regular;
}
.amountChildExpense h4 {
  margin-left: 20%;
  color: #3f3d56;
  font-size: 18px;
  font-weight: bold;
}

.amount {
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  height: 15%;
}

.arrows {
  padding: 20px;
  display: flex;
  align-items: center;

  margin-top: 10px;
  display: flex;
}
.events_byMonth {
  display: flex;
  justify-content: space-between;
}

.transactionsArrows {
  height: 25px;
  width: 25px;
}

.transactionsContainer {
  display: flex;
  flex-direction: row;
  border-bottom: dotted rgb(212, 212, 212);
  border-width: 0.01mm;
  padding-top: 3%;
  height: 8vh;

  font-size: 15px;
  align-items: center;
}
.transactionsContainer h5 {
  align-content: flex-end;
  justify-content: right;
  margin-left: auto;
  margin-right: 0;
  color: #3f3d56;
  font-size: 16px;
  font-weight: 300;
}

.categoryLogo {
  height: 25px;
  width: 25px;
}
