.months {
  padding: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-style: ridge;
  border-radius: 50px;
  border: 1px solid rgb(216, 216, 216);

  text-align: center;
  margin: 0px 5px;
}

.slider {
  margin-top: 20px;
}
.months:hover {
  background-color: rgb(49, 25, 29);
  border: none;
  color: aliceblue;
}
.stats {
  margin-top: 10px;
  display: flex;

  justify-content: space-around;
}
.typo {
  background-color: rgb(205, 255, 205);

  padding: 20px;
  border-radius: 15px;
  border: 1px solid gold;
}

.amountChildIncome {
  border-bottom: dotted rgb(212, 212, 212);
  border-width: 0.01mm;
  padding-top: 3%;
  height: 8vh;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.amountChildExpense {
  border-bottom: dotted rgb(212, 212, 212);
  border-width: 0.1mm;
  padding-top: 3%;
  height: 8vh;
  font-weight: 600;
  font-size: 15px;
}

.amountChildIncome h3 {
  margin-left: 20%;
  font-size: 15px;
  padding: 0;
  font-weight: 400;
  color: rgb(156, 156, 156);
}
.amountChildIncome h4 {
  margin-left: 20%;
  color: rgb(88, 211, 88);
  font-size: 17px;
}

.amountChildExpense h3 {
  margin-left: 20%;
  font-size: 15px;
  padding: 0;
  font-weight: 400;
  color: rgb(156, 156, 156);
}
.amountChildExpense h4 {
  margin-left: 20%;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.amount {
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  height: 15%;
}

.arrows {
  padding: 20px;
  display: flex;
  align-items: center;

  margin-top: 10px;
  display: flex;
}
.events_byMonth {
  display: flex;
  justify-content: space-between;
}

.transactionsArrows {
  height: 25px;
  width: 25px;
}
