.App {
  max-width: 600px;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  font-family: roboto;
  border: 1px outset #2b32bd;
}
